.screens-container {
	margin: 0 auto;
	width: 95vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 16px;
	& h2 {
		padding: 0.5rem 0;
		margin: 0;
	}
}

.screen-and-header {
	padding: 8px 0px;
	border: 2px solid white;
	position: relative;
	flex: 7;
}

.screen-container {
	height: 72vh;
	overflow: auto;
	padding: 8px;
	position: relative;
}

.screen-header {
	position: relative;
	padding: 0px 0px 4px 0px;
	border-bottom: 2px solid white;
}

.resume-screen-and-header {
	padding: 8px 0px;
	border: 2px solid white;
	position: relative;
	flex: 3;
}

.resume-screen-container {
	height: 72vh;
	overflow: auto;
	padding: 8px;
	position: relative;
}

.resume-screen-header {
	position: relative;
	padding: 0px 0px 4px 0px;
	border-bottom: 2px solid white
}

.resume-screen-header button {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 10px;
}

.screen-header button {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 10px;
}

.screen-header-button {
	font-size: 15px;
	padding: 3px 7px;
	height: 32px;
	width: 32px;
	line-height: 1;
	border-radius: 0;
}

.floating-close-resume-chat {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 10;
}

.floating-open-resume-chat {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 10;
}
