header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 16px;
	margin: 0;
}

h1 {
	font-size: 28px;
	margin: 0;
}

h2 {
	font-size: 1rem;
	margin: 0;
}

.chat-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 0.25rem 2rem;
}

.chat-screen > div > input {
	width: 50vw;
	height: 5vh;
	font-size: 1rem;
}
