h1 {
	font-size: 28px;
}

h2 {
	font-size: 16px;
}

.screens-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.tab-switcher-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 8px;
}

.user-message {
	color: white;
	text-align: right;
	border: 1px solid white;
	padding: 8px;
	margin: 8px 8px 8px auto;
	width: 65%;
}

.ai-message {
	color: lime;
	text-align: left;
	border: 1px solid lime;
	padding: 8px;
	margin: 8px;
	width: 65%;
}

.tool-message {
	color: gray;
	text-align: left;
}

.memory-card-container {
	border: 1px solid white;
	padding: 8px;
	margin: 8px;
	width: 50%;
}

.memory-card-library {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	align-items: center;
}

.memory-manager > h2 {
	margin: 16px;
}
