@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Inter', system-ui, sans-serif;
}

.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

@theme {
	--color-bg-dark: hsl(38 24% 3%);
	--color-bg: hsl(40 16% 7%);
	--color-bg-light: hsl(40 8% 11%);
	--color-text: hsl(40 34% 94%);
	--color-text-muted: hsl(40 6% 69%);
	--color-highlight: hsl(40 5% 38%);
	--color-border: hsl(40 6% 27%);
	--color-border-muted: hsl(40 9% 17%);
	--color-primary: hsl(41 52% 60%);
	--color-secondary: hsl(221 78% 76%);
	--color-danger: hsl(9 26% 64%);
	--color-warning: hsl(52 19% 57%);
	--color-success: hsl(146 17% 59%);
	--color-info: hsl(217 28% 65%);
}
