@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  /* oklch */
  --bg-dark: oklch(0.1 0.01 200);
  --bg: oklch(0.15 0.01 200);
  --bg-light: oklch(0.2 0.01 200);
  --text: oklch(0.96 0.02 200);
  --text-muted: oklch(0.76 0.02 200);
  --highlight: oklch(0.5 0.02 200);
  --border: oklch(0.4 0.02 200);
  --border-muted: oklch(0.3 0.02 200);
  --primary: oklch(0.76 0.1 200);
  --secondary: oklch(0.76 0.1 20);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

body.light {
  /* oklch */
  --bg-dark: oklch(0.94 0.01 200);
  --bg: oklch(0.97 0.01 200);
  --bg-light: oklch(1 0.01 200);
  --text: oklch(0.15 0.02 200);
  --text-muted: oklch(0.4 0.02 200);
  --highlight: oklch(0.7 0.02 200);
  --border: oklch(0.4 0.02 200);
  --border-muted: oklch(0.5 0.02 200);
  --primary: oklch(0.4 0.1 200);
  --secondary: oklch(0.4 0.1 20);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

html {
	font-size: 16px;
	font-family: 'Inter', system-ui, sans-serif;
}

.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

@theme inline {
	--color-bg-dark: var(--bg-dark);
	--color-bg: var(--bg);
	--color-bg-light: var(--bg-light);
	--color-text: var(--text);
	--color-text-muted: var(--text-muted);
	--color-highlight: var(--highlight);
	--color-border: var(--border);
	--color-border-muted: var(--border-muted);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-danger: var(--danger);
	--color-warning: var(--warning);
	--color-success: var(--success);
	--color-info: var(--info);
}
